body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 0.5s ease-in;
    transition: background-image 0.5s ease-in;
    background-image: url(../img/bg.png);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 95vh;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    margin: 5px;
    font-size: 20px;
}

.flex-item h1 {
    text-align: center;
}

#date-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

#choose-image-btn {
    margin: 10px;
}
