.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.todo-deadline {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    text-align: center;
    margin-left: auto;
}

.todo-title {
    margin-left: 10px;
}

.todo-overdue {
    background-color: #181A18;
}

.todo-urgent {
    background-color: #de554b;
}

.todo-warning {
    background-color: #f5ab49;
}

.todo-normal {
    background-color: #59d93d;
}

#todo-form {
    justify-content: unset;
}

#todo-form input {
    margin: 0px 5px;
}

#todos.show {
    animation: from-left-slide-in 0.5s ease-out;
}

@keyframes from-left-slide-in {
    from {
        transform: translateX(-70%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}